{% macro card(icon,color,name,count,footerIcon,footerDescription) %}
<div class="card card-stats">
    <div class="card-body ">
        <div class="row">
            <div class="col-5">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon {{icon}} {{color}} "></i>
                </div>
            </div>
            <div class="col-7">
                <div class="numbers">
                    <p class="card-category">{{name}}</p>
                    <h4 class="card-title">{{count}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="{{footerIcon}}"></i> {{footerDescription}}
        </div>
    </div>
</div>
{% endmacro %}