<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Contactbook')}}
<body>
    <div class="wrapper wrapper-full-page">
        <div class="full-page section-image" data-color="red" data-image="/img/full-screen-image-3.jpg" ;>
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="card card-register card-plain text-center">
                        <div class="card-header">
                            <div class="row  justify-content-center">
                                <div class="col-md-4">
                                    <div class="header-text">
                                        <h3 class="card-title">Change your password</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                                <form class="form" method="POST" action="{{admin_url}}changePassword" id="Validation">
                                    <div class="card card-login">
                                        <div class="card-body ">
                                            <div class="card-body">
                                                {% import "macros/flash_message.html" as message %}

                                                {{message.error(error_flash)}}
                                                <div class="form-group">
                                                    <p>Password must be at least 8 characters long.</p>
                                                </div>
                                                {% import "macros/forms.html" as form %}

                                                {{form.input('Current Password','password','password','','',"required=true")}}

                                                {{form.input('New Password','password','new_password','','',"required=true","minLength=6","id=changePassword")}}

                                                {{form.input('Password Confirmation','password','confirm_password','','',"required=true","equalTo=#changePassword","id=changePasswordConfirmation")}}
                                            </div>
                                        </div>
                                        <div class="card-footer ml-auto mr-auto">
                                            <button type="submit" class="btn btn-wd element" color="red">Change Password</button>
                                            <div></div>
                                            <br/>
                                            <div class="form-group">
                                                <p><a href="{{admin_url}}" style="font-size: .875rem; color:#888888;">Return to dashboard</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {% include "partials/footer.html" %}
    </div>
</body>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %}  
{{plugins.script('jquery.validate.min')}}
{{plugins.script('demo')}}
{% include "partials/setBackgroundImage.html" %}
{% include "partials/validation.html" %}
</html>