<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Contactbook')}}
<body>
    <div class="wrapper wrapper-full-page">
        <div class="full-page section-image" data-color="red" data-image="/img/full-screen-image-3.jpg";>
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="card card-register card-plain text-center">
                        <div class="card-header">
                            <div class="row  justify-content-center">
                                <div class="col-md-4">
                                    <div class="header-text">
                                        <h3 class="card-title">Forgot your password</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% import "macros/flash_message.html" as message %}
                        <div class="card-body">
                            {% if display=='block' %}
                            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                                <div class="card card-login">
                                    <div class="card-body ">
                                        <div class="card-body">

                                            {{message.success(messages.success)}}
                                            
                                            <div class="form-group">
                                                <p>Check your email for a new password. If it doesn't appear within a few minutes, check your spam folder.</p>
                                            </div>
                                            <div class="form-group">
                                                <a href="{{admin_url}}login"><button type="button" class="btn btn-wd element" color="red">Return to sign in</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                                <form class="form" method="POST" action="{{admin_url}}forgotPassword" id="Validation">
                                    <div class="card card-login">
                                        <div class="card-body ">
                                            <div class="card-body">
                                                {{message.error(messages.error)}}
                                                <div class="form-group">
                                                    <p>Enter your email and we will send you a new password.</p>
                                                    <input type="email" name="email" placeholder="Enter Email" class="form-control" required="true"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer ml-auto mr-auto">
                                            <button type="submit" class="btn btn-wd element" color="red">Send new password email</button>
                                            <div></div>
                                            <br/>
                                            <div class="form-group">
                                                <p><a href="{{admin_url}}login" style="font-size: .875rem; color:#888888;">Return to sign in</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {% include "partials/footer.html" %}
    </div>
</body>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %}  
{{plugins.script('jquery.validate.min')}}
{{plugins.script('demo')}}
{% include "partials/setBackgroundImage.html" %}
{% include "partials/validation.html" %}
</html>