<!doctype html>
<html lang="en">
{% import "macros/head.html" as head %}
{{head.title('Contactbook')}}

<body>
  <div class="wrapper">
    {% include "partials/sidebar.html" %}
    {% include "partials/navbar.html" %}
    {% import "macros/forms.html" as form %}
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card data-tables">
              <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                <div class="toolbar justify-content-center">
                  <div class="btn-group">
                    &nbsp;&nbsp;&nbsp;
                    <div class="row">
                      <div class="col-12 col-sm-4">
                        {{form.form_group_picker('From', 'datepicker', 'fromDate', body.fromDate, '')}}
                       </div>
                      <div class="col-12 col-sm-4">
                        {{form.form_group_picker('To', 'datepicker', 'toDate', body.toDate, '')}}
                      </div>
                      <div class="col-12 col-sm-4">
                        <div class="form-group has-label">
                        <label>
                            Search Fields
                            <!-- <star class="star">*</star> -->
                        </label>
                        <select multiple name="searchFields" class="selectpicker" data-title="Select fields" data-style="btn-default btn-outline" data-menu-style="dropdown-blue" data-size="5">
                            <option value="name">Name</option>
                            <option value="gender">Gender</option>
                            <option value="occupation">Occupation</option>
                            <option value="dateOfBirth">Date of birth</option>
                            <option value="dateOfMarriage">Date of marriage</option>
                            <option value="contactNumber">Contact number</option>
                            <option value="address">Address</option>
                            <option value="nativeAddress">Native address</option>
                            <option value="email">Email</option>
                            <option value="gotra">Gotra</option>
                            <option value="head.name">Head name</option>
                            <option value="head.contactNumber">Head contact number</option>
                            <option value="head.occupation">Head occupation</option>
                            <option value="primaryContact.name">Primary contact name</option>
                            <option value="primaryContact.contactNumber">Primary contact number</option>
                            <option value="primaryContact.occupation">Primary contact occupation</option>
                        </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br /><br />
                </div>
                <div class="fresh-datatables">
                  <table id="userTable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                    width="100%">
                    <thead>
                      <tr>
                        <th class="all">S.No</th>
                        <th class="all" data-sortable="false">Status</th>
                        <th class="all" data-sortable="false">Actions</th>
                        <th class="min-mobile-l">Name</th>
                        <th class="min-tablet">Gender</th>
                        <th class="min-tablet">Occupation</th>
                        <th class="min-tablet">Date of birth</th>
                        <th class="min-tablet-l">Date of marriage</th>
                        <th class="min-desktop">Contact number</th>
                        <th class="min-desktop">Address</th>
                        <th class="min-desktop">Native address</th>
                        <th class="none">Email</th>
                        <th class="none">Gotra</th>
                        <th class="none">Head name</th>
                        <th class="none">Primary contact name</th>
                        <th class="none">Primary contact number</th>
                        <th class="all" data-sortable="false"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit User Modal -->
  <div class="modal fade modal-primary" id="editUser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h4>Edit User</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{admin_url}}users/edit/" enctype="multipart/form-data" id="Validation"
            onkeypress="return event.keyCode != 13;">
            <div id="message">
            </div>
            {{form.hidden('id', body.id, '', 'required=true')}}

            {{form.form_group('Name', 'text', 'name', body.name, '', 'required=true')}}

            <div class="form-group has-label">
              <label>
                Gender
                <star class="star">*</star>
              </label>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input type="radio" name="gender" class="form-check-input" value="Male" required="true"/>
                      <span class="form-check-sign"></span>
                      Male
                    </label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input type="radio" name="gender" class="form-check-input" value="Female" required="true"/>
                      <span class="form-check-sign"></span>
                      Female
                    </label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input type="radio" name="gender" class="form-check-input" value="Others" required="true"/>
                      <span class="form-check-sign"></span>
                      Others
                    </label>
                  </div>
                </div>
              </div>
            </div>

            {{form.form_group('Occupation', 'text', 'occupation', body.occupation, '')}}

            {{form.form_group_picker('Date of birth', 'datepicker', 'dateOfBirth', body.dateOfBirth, '')}}

            {{form.form_group_picker('Date of Marriage', 'datepicker', 'dateOfMarriage', body.dateOfMarriage, '')}}

            {{form.form_group('Contact number', 'text', 'contactNumber', body.contactNumber, '', 'number=true', 'maxLength=10', 'minLength=10', 'required=true')}}

            <!-- {{form.form_group('Address', 'text', 'address', body.address, '', 'required=true')}} -->

            <!-- <div class="form-group has-label">
              <label>
                Head
                <star class="star">*</star>
              </label>
              <select name="head" class="selectpicker" data-title="Select Head" data-style="btn-default btn-outline"
                data-menu-style="dropdown-blue" data-size="5" required>
              </select>
            </div> -->
            <div class="form-group">
              <div class="text-center">
                <button type="submit" class="btn btn-wd btn-danger">Update User</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
</body>
<script>
  /*For inlcuding variables at the top*/
  let contactNumber_check = true;
  let message;
</script>
{% include "partials/core_js.html" %}
{% import "macros/plugins.html" as plugins %}
{{plugins.script('bootstrap-switch')}}
{{plugins.script('sweetalert2.min')}}
{{plugins.script('bootstrap-tagsinput')}}
{{plugins.script('jquery.validate.min')}}
{{plugins.script('jquery.dataTables.min')}}
{{plugins.script('dropzone')}}
{{plugins.script('light-bootstrap-dashboard')}}
{{plugins.script('bootstrap-selectpicker')}}
{{plugins.script('moment.min')}}
{{plugins.script('bootstrap-datetimepicker')}}
{{plugins.script('demo')}}
{% include "partials/validation.html" %}
{% include "partials/functions.html" %}
<script>
  $(document).ready(function () {
    {% if error_flash %}
    demo.showNotification('top', 'center', '{{ error_flash }}', 'danger', 'nc-icon');
    {% endif %}

    {% if messages.error %}
    demo.showNotification('top', 'center', '{{ error_flash }}', 'danger', 'nc-icon');
    {% endif %}

    $.validator.addMethod('greaterThan', (value, element, params) => {
      const elementToMatchDate = new Date($(params[0]).val()).getTime();
      const currentElementDate = new Date(value).getTime();
      if (elementToMatchDate && currentElementDate) {
        const difference = parseInt((currentElementDate - elementToMatchDate) / (365 * 24 * 60 * 60 * 1000), 10);
        return difference >= params[2];
      }
      return true;
    }, 'Must be greater than {1}');

    const noWidthColumns = ['s_no', 'noUse'];
    let columns = [
      's_no',
      'status',
      'actions',
      'name',
  	  'gender',
  	  'occupation',
  	  'dateOfBirth',
	    'dateOfMarriage',
	    'contactNumber',
	    'address',
      'nativeAddress',
	    'email',
	    'gotra',
      'headName',
      'primaryContactName',
      'primaryContactNumber',
      'noUse',
    ];

    const userTable = $('#userTable').DataTable({
      pagingType: 'full_numbers',
      lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, 'All'],
      ],
      aaSorting: [[0, 'asc']],
      language: {
        search: '_INPUT_',
        searchPlaceholder: "Search {{ 'Approved' if not user.isAdmin else ''}} Records",
      },
      processing: true,
      serverSide: true,
      responsive: {
        details: {
          display: $.fn.dataTable.Responsive.display.modal({
            header: function (row) {
              const data = row.data();
              return 'Details for ' + data.name;
            },
          }),
          renderer: function ( api, rowIdx, columns ) {
            var data = $.map( columns, function ( col, i ) {
              return i > 2 ? `<tr>
                <td>${col.title}:</td>
                <td>${col.data}</td>
              </tr>` : '';
            } ).join('');
 
              return $('<table/>').append( data );
          }
          // renderer: $.fn.dataTable.Responsive.renderer.tableAll(),
        },
      },
      ajax: {
        url: '{{admin_url}}users/find/individual',
        type: 'POST',
        data: d => {
          d.fromDate = $('[name="fromDate"]').val();
          d.toDate = $('[name="toDate"]').val();
          d.searchFields = $('[name="searchFields"]').val().join(',');
          return d;
        },
        dataSrc: json => {
          $(document).ready(() => {
            $("[data-toggle='approved']").bootstrapSwitch();
            setToggleState('approved', '{{admin_url}}users/approve');
          });
          const arr = json.data.reduce((
            arr,
            { 
              _id,
              name,
              gender,
              occupation,
              dateOfBirth,
              dateOfMarriage,
              contactNumber,
              address,
              nativeAddress,
              email,
              gotra,
              head,
              primaryContact,
              isApproved,
            },
          ) => {
            let status;
            status = isApproved ? 'checked' : '';
            const jsonData = {
              s_no: `<span style="display:none">${_id}</span>`,
              name: name || '',
              gender: gender || '',
              occupation: occupation || '',
              dateOfBirth: dateOfBirth || '',
              dateOfBirth: dateOfBirth || '',
              dateOfMarriage: dateOfMarriage || '',
              contactNumber: contactNumber || '',
              address: address || '',
              nativeAddress: nativeAddress || '',
              email: email || '',
              gotra: gotra || '',
              'headName': head.name,
              'primaryContactName': primaryContact.name,
              'primaryContactNumber': primaryContact.contactNumber,
              status: `<input class='check' type='checkbox' ${status} data-toggle='approved' data-on-color='success' data-off-color='success' data-on-text='<i class="fa fa-check"></i>' data-off-text='<i class="fa fa-times"></i>'><span style="display:none">${_id}</span>`,
              actions: `<div class="text-center"><a href="javascript:void(0)" class="btn btn-round  btn-icon btn-danger edit" data-toggle="modal" data-target="#editUser" rel="tooltip" title="Edit User"><span style="display:none">${_id}</span><span style="display:none">${primaryContact._id}</span><i class="fa fa-edit"></i></a><br/><a onclick=${_id === primaryContact._id ? 'demo.showSwal("title-and-text","","","")' : `demo.showSwal("warning-message-and-confirmation","{{admin_url}}users/delete/${_id}","user","{{admin_url}}users")`} href="javascript:void(0)" class="btn btn-round btn-icon btn-danger remove" rel="tooltip" title="Delete User"><i class="fa fa-trash-o"></i></a></div>`,
              noUse: '',
            };

            arr.push(jsonData);
            return arr;
          }, []);
          
          //Make your callback here.
          return arr;
        }
      },
      columns: columns.map((column, _, columns) => {
        if (noWidthColumns.includes(column)) return { data: column };
        return {
          data: column,
          // width: `${100 / (columns.length - noWidthColumns.length)}%`,
        };
      }),
    });
    userTable.column(0).visible(false);

    $('[name="fromDate"], [name="toDate"]').on('dp.change', () => userTable.draw());

    $('#Validation').submit(function (e) {
      if (!contactNumber_check) {
        e.preventDefault();
        e.stopPropagation();
        $('#Validation #message').html('<div class="alert alert-warning"><a class="close" data-dismiss="alert"><i class="nc-icon nc-simple-remove"></i></a><span><b> ' + message + ' </b></span></div>');
      }
    });

    $('#Validation [name="dateOfMarriage"]').rules('add', {
      greaterThan: ['#Validation [name="dateOfBirth"]', 'date of birth', 15],
    });

    $('#editUser').on('hidden.bs.modal', () => {
      contactNumber_check =  true;
      message = '';
      $('#Validation')[0].reset();
      $('#Validation').data('validator').resetForm();
      $('#Validation .img').attr('src', '');
    });

    $(document).on('click', '.edit', function () {
      const id = $(this).parent().find('span').eq(0).html();
      const primaryContact = $(this).parent().find('span').eq(1).html();
      $.get(`{{admin_url}}users/view/${id}?includeFamilyMembers=true`, ({ users }) => {
        const user = users.find(({ _id }) => _id === id);
        const { name, gender, occupation, dateOfBirth, dateOfMarriage, contactNumber, address, head, picture } = user;
        $('#Validation [name="id"]').val(id || '');
        $('#Validation [name="name"]').val(name || '');
        $('#Validation [name="gender"][value="' + (gender || '') + '"]').attr('checked', 'checked');
        $('#Validation [name="occupation"]').val(occupation || '');
        $('#Validation [name="dateOfBirth"]').val(dateOfBirth ? new Date(dateOfBirth).toISOString().slice(0, 10) : '');
        $('#Validation [name="dateOfMarriage"]').val(dateOfMarriage ? new Date(dateOfMarriage).toISOString().slice(0, 10) : '');
        $('#Validation [name="contactNumber"]').val(contactNumber || '');
        // $('#Validation [name="address"]').val(address);
        // $('#Validation [name="head"]').find('option').remove().end().append(users.map(user => `<option value=${user._id}>${user.name}</option>`).join(''));
        // $('#Validation [name="head"]').selectpicker('val', head._id);
        // let img = picture;
        // img = img ? '{{admin_image_url}}' + img : '';
        // $('#Validation .img').attr('src', img);
      });
    });
  });
</script>

</html>